.git
.gitignore
node_modules
public/build
public/hot
vendor
.env
.env.*
auth.json
database/*.sqlite*
storage/**
!storage/
!storage/**/
!storage/**/.gitignore
bootstrap/cache/**
!bootstrap/cache/
!bootstrap/cache/.gitignore
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
