@import 'tailwindcss';
@plugin "@tailwindcss/forms";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../views/components/**/*.blade.php';
@source '../views/mcp/**/*.blade.php';
@source '../views/pages/**/*.blade.php';

@theme {
    --sidebar-width: 320px;
    --font-display: "Funnel Sans", sans-serif;
}

:root {
    --yes-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%2300a63e' viewBox='0 0 16 16'%3E%3Cpath d='M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z'/%3E%3C/svg%3E");
    --no-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%23e7000b' viewBox='0 0 16 16'%3E%3Cpath d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708'/%3E%3C/svg%3E");
}

@font-face {
  font-family: 'Funnel Sans';
  src: url('../../public/fonts/FunnelSans-VariableFont_wght.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Funnel Sans';
  src: url('../../public/fonts/FunnelSans-Italic-VariableFont_wght.woff2') format('woff2');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@utility container {
  @apply mx-auto px-4 max-w-6xl;
}

@layer base {
    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }

    [id] {
        scroll-margin-top: 5rem;
    }

    [x-cloak] {
        display: none !important;
    }

    .prose {
        p:not(:last-child) {
            @apply not-last:mb-4;
        }

        code:not(pre code) {
            @apply bg-gray-100 p-1 rounded;
        }

        a:not(.btn) {
            @apply text-gray-500 underline hover:text-black transition-all duration-500;
        }

        h1 {
            @apply font-display font-semibold text-4xl not-last:mb-4;
        }

        h2 {
            @apply font-display font-semibold text-3xl not-last:mb-4;
        }

        h3 {
            @apply font-display font-semibold text-2xl not-last:mb-4;
        }

        h4 {
            @apply font-display font-semibold text-xl not-last:mb-2;
        }

        h5 {
            @apply font-display font-semibold text-lg not-last:mb-2;
        }

        blockquote {
            @apply border-l-4 border-gray-200 pl-4 text-lg not-last:mb-4;
        }

        ul {
           @apply list-disc ml-8 space-y-1 not-last:mb-4;
        }

        ol {
           @apply list-decimal ml-8 space-y-1 not-last:mb-4;
        }

        pre {
            @apply bg-gray-100 p-4 rounded not-last:mb-4;
        }

        hr {
            @apply text-gray-200 my-4 last:mb-0;
        }

        table {
            @apply border-separate border-spacing-1 not-last:mb-4;
        }

        thead th {
            @apply bg-gray-200;
        }

        tbody th {
            @apply bg-gray-100;
        }

        tbody tr td {
            @apply bg-gray-50;
        }

        th, td {
            @apply p-2;
        }
    }
}

@layer components {
    .btn {
        @apply flex font-display justify-center items-center gap-2 uppercase text-sm rounded-xl text-lg text-center hover:ring-2 disabled:hover:ring-0 transition duration-500 disabled:opacity-50 disabled:cursor-not-allowed p-2 px-4 print:hidden;
    }

    .btn.btn-sm {
        @apply text-sm p-1 px-2;
    }

    .btn.btn-lg {
        @apply text-lg p-3 px-6;
    }

    .btn.btn-primary {
        @apply bg-gray-800 text-white ring-gray-800 hover:bg-black hover:ring-2 hover:ring-gray-800 hover:disabled:ring-0 hover:disabled:bg-gray-800;
    }

    .btn.btn-primary-outline {
        @apply border border-gray-800 text-gray-800 ring-inset hover:ring;
    }

    .btn.btn-danger {
        @apply bg-red-400 text-white ring-red-400 hover:bg-red-500 hover:ring-2 hover:ring-red-500 hover:disabled:ring-0 hover:disabled:bg-red-400;
    }

    .btn.btn-danger-outline {
        @apply border border-red-400 text-red-400 ring-red-400 ring-inset hover:ring;
    }

    .link {
        @apply text-gray-500 underline hover:text-black transition-all duration-500;
    }
}
